<caption class="is-sr-only">
  {{t "tableCaption" noOfAvailableFiles=noOfAvailableFiles noOfFilesSelected=noOfFilesSelected}}
</caption>
<thead>
  <tr>
    <th scope="col" class="file-table__selector-header">
      <span class="is-sr-only">{{t "selectorHeader"}}</span>
    </th>
    <th scope="col" class="file-table__name-header">
      {{t "nameHeader"}}
    </th>
    <th scope="col" class="file-table__device-header">
      {{t "deviceHeader"}}
    </th>
    <th scope="col" class="file-table__path-header">
      {{t "pathHeader"}}
    </th>
    <th scope="col" class="file-table__status-header">
      {{t "statusHeader"}}
    </th>
  </tr>
</thead>
<tbody>
  {{#each fileList as |file indx|}}
    {{table-row
      file=file
      indx=indx
      onRowClick=onRowClick
      selectedFileArr=selectedFileArr
      noOfFilesSelected=noOfFilesSelected
      isSelectedAllCheckboxChecked=isSelectedAllCheckboxChecked
    }}
  {{/each}}
</tbody>
