<caption class="is-sr-only">
  Available and Scheduled Files listed below.
  {{noOfAvailableFiles}} files available to download.
  {{noOfFilesSelected}} files selected to download.
</caption>
<thead>
  <tr>
    <th scope="col" class="file-table__selector-header">
      <span class="is-sr-only">{{t "selectorHeader"}}</span>
    </th>
    <th scope="col" class="file-table__name-header">
      {{t "nameHeader"}}
    </th>
    <th scope="col" class="file-table__device-header">
      {{t "deviceHeader"}}
    </th>
    <th scope="col" class="file-table__path-header">
      {{t "pathHeader"}}
    </th>
    <th scope="col" class="file-table__status-header">
      {{t "statusHeader"}}
    </th>
  </tr>
</thead>
<tbody>
  {{#each fileList as |file indx|}}
    <tr class="file-table__row">
      <td class="file-table__selector-cell">
        {{#if file.isAvailable}}
          {{#if isSelectedAllCheckboxChecked}}
            <input onclick={{action "onCheckboxClick" file}} type="checkbox" aria-labelledby="checkbox-label" aria-checked="true" checked>
          {{else}}
            <input onclick={{action "onCheckboxClick" file}} type="checkbox" aria-labelledby="checkbox-label" aria-checked="false">
          {{/if}}
          <span id="checkbox-label" class="is-sr-only">
            {{t "selectableCheckboxLabel" name=file.name}}
          </span>
        {{else}}
          <input onclick={{action "onCheckboxClick" file}} type="checkbox" aria-disabled="true" aria-labelledby="checkbox-label" aria-checked="false">
          <span id="checkbox-label" class="is-sr-only">
            {{t "scheduledCheckboxLabel" name=file.name}}
          </span>
        {{/if}}
      </td>
      <td class="file-table__name-cell">
        {{file.name}}
      </td>
      <td class="file-table__device-cell">
        {{file.device}}
      </td>
      <td class="file-table__path-cell">
        {{file.path}}
      </td>
      <td class="file-table__status-cell {{file.status}}">
        {{file.status}}
      </td>
    </tr>
  {{/each}}
</tbody>
