<input 
  type="checkbox"
  class={{inputClassNames}}
  id={{checkboxId}}
  onClick={{action "onCheckBoxClick"}}
  aria-disabled="{{isDisabled}}"
  aria-checked="{{if isIndeterminate "mixed" checkedState}}"
  indeterminate={{isIndeterminate}}
>
<label for={{checkboxId}} class={{labelClassNames}}>
  {{labelText}}
</label>
